// main: vimeworld.less
/*
* Здесь написаны всякие стили для элементов, которые находятся в шапке лаунчера
*/

.logo{
	float: left;
	font-weight: 600;
	font-size: 24px;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 4px;

	span{
		position: relative;
		top: 2px;
		left: 10px;
	}
	img{
		height: 30px;
		vertical-align: middle;
		margin-bottom: 3px;
	}
}

.header{
	background-color: @main-color;
	color: #fefefe;
	height: @header-height;
	padding: 10px;
	box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.32);
	position: relative;
	z-index: 100;

	.menu {
		float: left;
		margin-left: 16px;

		li {
			float: left;
			margin: 2px;

			&::before{
				content: '';
			}
		}
		a {
			padding: 4px 9px;
			line-height: 38px;
			color: white;
			font-size: 18px;
			opacity: 0.7;
			transition-property: opacity, background-color;
			transition-duration: .3s, .2s;
			transition-timing-function: ease;
			font-weight: 600;

			&:hover{
				opacity: 1;
			}

			&:active{
				line-height: 40px;
				opacity: .8;
			}

			&.active{
				opacity: 1;
				background-color: rgba(255, 255, 255, 0.14);
				cursor: default;
			}

			i {
			    font-size: 11px;
			    position: relative;
			    top: -8px;
			    left: -2px;
			}
		}
	}

	.controls{
		float: right;

		& > div{
			float: left;
			cursor: pointer;
			color: #fefefe;
			padding: 3px 8px 7px;
			font-size: 15px;
			transition: color .2s ease;

			&:active{
				margin-top: 1px;
			}
		}

		#gui_close{
			&:hover{
				color: #FF8989;
			}
			&:active{
				color: #AD4E4E;
			}
		}
		#gui_min{
		    padding: 4px 8px 6px;

			&:hover{
				color: #BDD9FF;
			}
			&:active{
				color: #5C7596;
			}
		}
	}

	.dropdown{
		color: rgba(255, 255, 255, 0.7);
		font-weight: 600;
		margin-top: 5px;
		margin-right: 35px;

		&:hover{
			color: #fff;
		}
	}
}
